<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="ShoppingCenterDBContext" connectionString="data source=(LocalDb)\v11.0;initial catalog=ShoppingCenterBOL.ShoppingCenterDBContext;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="SmtpServer" value="smtp.163.com" />
    <add key="Port" value="25" />
    <add key="EmailAddress" value="MyShoppingCenter@163.com" />
    <add key="DisplayName" value="NoReply" />
    <add key="Code" value="jedkxfwscpvrwivx" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="ShoppingCenterWCFServiceLibrary.ServiceUser">
        <endpoint address="" binding="basicHttpBinding" contract="ShoppingCenterWCFServiceLibrary.IServiceUser">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ShoppingCenterWCFServiceLibrary/ServiceUser/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ShoppingCenterWCFServiceLibrary.ServiceProduct">
        <endpoint address="" binding="basicHttpBinding" contract="ShoppingCenterWCFServiceLibrary.IServiceProduct">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ShoppingCenterWCFServiceLibrary/ServiceCategory/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>